@page "/counter"

<PageTitle>Counter</PageTitle>


<br/>
<br/>
<CascadingValue Name="Counter" Value="@currentCount">
    <CascadingValue Name="TitleColour" Value="@("blue")">
        <CounterComponentTest1></CounterComponentTest1>
    </CascadingValue>
</CascadingValue>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
