@page "/team/{id:int}"
<TitleComponent Department="Team"></TitleComponent>
<br />
<br />

<p>
    Name: @team.Name
</p>
<p>
    Region: @team.Region
</p>
<ul>
    @foreach (var member in this.members)
    {
        <li>@member.Name | @member.Age</li>
    }
</ul>
@code {
    [Parameter]
    public int Id { get; set;  }

    private Team team;
    private IEnumerable<Member> members;
    protected override void OnInitialized()
    {
        base.OnInitialized();

        var teams = new List<Team>();
        var allMembers = new List<Member>();

        teams.Add(new Team { Id = 1, Name = "Red", Region = "Region One" });
        teams.Add(new Team { Id = 2, Name = "Blue", Region = "Region Two" });
        teams.Add(new Team { Id = 3, Name = "Yellow", Region = "Region Three" });

        allMembers.Add(new Member { Id = 1, Name = "John", Age = 20, TeamId = 1 });
        allMembers.Add(new Member { Id = 2, Name = "Mike", Age = 25, TeamId = 1 });
        allMembers.Add(new Member { Id = 3, Name = "Joe", Age = 26, TeamId = 2 });
        allMembers.Add(new Member { Id = 4, Name = "Ross", Age = 21, TeamId = 2 });
        allMembers.Add(new Member { Id = 5, Name = "Ryan", Age = 23, TeamId = 3 });
        allMembers.Add(new Member { Id = 6, Name = "Tim", Age = 20, TeamId = 3 });

        team = teams.FirstOrDefault(x => x.Id == this.Id);
        members = allMembers.Where(x => x.TeamId == this.Id);
    }
    #region View Model
    public class Team
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Region { get; set; }
    }
    public class Member
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public int TeamId { get; set; }
    }
    #endregion
}
